#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  background: rgb(46, 63, 87);
  background: linear-gradient(
    90deg,
    rgb(63, 86, 119) 0%,
    rgba(33, 44, 61, 1) 42%,
    rgb(15, 21, 29) 100%
  );
}

.navbar.fixed-left {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 230px;
  flex-flow: column nowrap;
  align-items: flex-start;
  background-color: black;
  z-index: 1200;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a {
  color: rgb(145, 145, 145) !important;
  transition: 0.3s;
}

.navbar.fixed-left .navbar-collapse .navbar-nav a:hover {
  color: white !important;
}

.navbar.fixed-left .navbar-brand {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
}
aside img{
  margin-left: 25px;
  
}


ul {
  list-style-type: none;
  padding-left: 3px;
  /* padding-right: 10px; */
  margin-right: 20px;
}

.nav-btn {
  margin-bottom: 20px;
  text-align: center;
}

.nav-btn a {
  color: rgb(145, 145, 145);
  text-decoration: none;
}

.nav-link i {
  font-size: 1.5em;
}

.signup-btn  {
  background-color: white !important;
  color: black !important ;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 20px !important;
}

.signup-btn:hover {
  color: white !important;
  background-color: rgb(60, 211, 60) !important;
}

.login-btn {
  background-color: black !important;
  color: white !important;
  border: 1px solid white !important;
  border-radius: 20px !important;
  width: 180px !important;
  margin-bottom: 20px !important;
}

.login-btn:hover {
  color: black !important;
  background-color: white !important;
}

@media screen and (max-width: 936px) {
  #sidebar {
    display: none;
  }
}


/* BOTTOM PLAYER SECTION*/
.songTitle{
  color: #888;
  font-size: 20px !important;
  width: 300px;

}
.player-fix a {
  margin: 30px;
}

.bg-container {
  height: 5.5rem;
  background-color: #282828;
  width: 100%;
}
.fixed-bottom{
  
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}



.playerControls div {
  justify-content: space-between;

}

.playerControls div:first-of-type {
  margin-left: 10%;
  margin-right: 10%;
}

.playerControls a img {
  width: 14px;
  margin-top: 1rem;
  filter: brightness(60%);
}

.playerControls a:hover {
  filter: brightness(80%);
  color: #282828 !important;
}

.progress {
  color: white;
  background-color: #414141;
  height: 3px;
  
}

@media screen and (min-width: 1200px) {
  .playerControls div:first-of-type {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/*MAIN PAGE SECTION*/

.mainLinks {
  margin-top: 1.5rem ;
  justify-content: space-evenly !important;
  position: fixed;
  top: 0;
  left: 3rem;
}

.mainLinks a {
  color: white !important;
  font-weight: 700;
  font-size: 12px;
  opacity: 0.3;
  text-decoration: none !important;
}

.mainLinks a:hover {
  text-decoration: none !important;
  opacity: 1;
  transition: 0.3s;
}

.imgLinks a p,
.mainPage p {
  padding-top: 8px;
  font-size: 12px;
  color: white;
  font-weight: 700;
}

#rock,
#pop,
#hiphop {
  color: white;
  font-weight: 700;
  padding-top: 50px;
}

#hipHopSection {
  margin-bottom: 7rem;
}

.mainPage img {
  width: 200px;
}
.row h2{
  width: 300px;
}